{% extends '::layout.html.twig' %}

{% block title %}Erreur serveur - Décibels{% endblock %}

{% block body %}
    <h1>Erreur 500 : Erreur inconnue !</h1>
    <p>On a déconné ... On corrige ça dès que possible !</p>
{% endblock %}
