{% extends '::layout.html.twig' %}

{% block title %}Modifier une news - Décibels{% endblock %}

{% form_theme edit_form _self %}

{% block fileUpload_widget %}
        <div>
            <div id="output" class="col-md-8 col-md-offset-2 hidden">
                <img src="" alt="preview" style="width: 100%; margin-bottom: 10px;" class="hidden"/>
                <div class="progress" style="height: 5px; width: 100%;">
                    <div class="progress-bar progress-bar-success" style="background-color: #FFEB3B;"></div>
                </div>
            </div>
            
            <label for="file" class="btn btn-default col-md-4 col-md-offset-4" style="background-color: #591820; color: #F3F3F3; margin-bottom: 20px;">
                <i class="glyphicon glyphicon-picture"></i>
                Choisir une image
            </label>
            <input id="file" name="file" class="ajax_file hidden" type="file" data-target="{{ path('decibels_file_uploadFile') }}">

            <input name="file_id" type="hidden">
        </div>
{% endblock fileUpload_widget %}

{% block body %}
    <h1>News edit</h1>

    {{ form(edit_form) }}

        <a href="{{ path('decibels_news_listAdmin') }}">Retourner à la liste</a>
{% endblock %}

{% block javascript %}
<script>
     $('.ajax_file').on('change', function(){
        var $this = $(this);
        var $loadingBar = $('.progress').first().children();
        var $label = $this.siblings('label');
        var $input = $this.siblings('input[type="hidden"]');

        var file = $this[0].files[0];
        var baseUrl = "{{ asset('') }}";

        $("#output").removeClass('hidden');
        
        var data = new FormData();
        data.append('fileUpload[file]', file);
        data.append('webDirPath', '/news');
        
        $label.remove();
        
        $.ajax({
            type: 'POST',
            url: $this.data('target'),
            data: data,
            contentType: false,
            processData: false,
            xhr: function()
            {
                var xhr = $.ajaxSettings.xhr();

                xhr.upload.addEventListener("progress", function(e){
                    $loadingBar.css('width', e.loaded / e.total * 100 + '%');
                }, false);

                return xhr;
            },
            success: function(response){
                $loadingBar
                    .css('width', '100%').parent().fadeOut(100);
                $input.val(response.id);           
                
                $("#output").children().first().hide().removeClass('hidden').attr("src", baseUrl + "uploads/news/" + response.name).fadeIn(100);
                
                $("#decibels_newsbundle_news_Publier").removeClass('hidden');
                
                $this.remove();
            },
            error: function(response){
                $loadingBar
                    .css('width', '100%')
                    .removeClass('progress-bar-success')
                    .css("backgroundColor", '#591820');
                $("#output")
                    .html('Erreur')
                    .css("color", '#591820')
                    .removeClass('hidden');
                $this.remove();
            }
        });
    });
</script>
{% endblock %}
