{% extends '::layout.html.twig' %}

{% block title %}Supprimer du matériel - Décibels{% endblock %}

{% block body %}

	<p>Êtes-vous sur de vouloir supprimer le matériel {{ equipement.nom }} ?</p>
	<form action="{{ path('decibels_equipement_delete', {'id' : equipement.id }) }}" method="POST">
		<input type="submit" value="Supprimer" />
		{{ form_rest(form) }}
	</form>
	
{% endblock %}
