<div class="row">
	<div class="col-md-12">
		<h4 class="spacer">Où nous trouver ?</h4>
		Nous sommes situés au 3ème étage de la MDE
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h4 class="spacer">Nous envoyer un mail</h4>
		{{ form(form) }}
	</div>
</div>
