{% extends '::layout.html.twig' %}

{% form_theme form _self %}

{% block textarea_widget %}
	{% spaceless %}
		<textarea class="form-control" rows="10" {{ block('widget_attributes') }}>{{ value }}</textarea>
	{% endspaceless %}
{% endblock textarea_widget %}

{% block title %}Contact - Décibels{% endblock %}

{% block body %}
	<div class="row" style="padding: 5px;">
		<h4>Où nous trouver ?</h4>
		Nous sommes situés au 3ème étage de la MDE
	</div>
	<div class="row" style="padding: 5px;">
		<h4>Nous envoyer un mail</h4>
		{{ form(form) }}
	</div>
{% endblock %}
