{% extends '::layout.html.twig' %}

{% block title %}Changer les images du carrousel - Décibels{% endblock %}

{% block body %}
    <div class="row" style="text-align: center;">
        {% for img in listImage %}
            <div class="col-md-3 vignette" style="cursor: pointer; padding: 0; margin: 2.77666667%; overflow: hidden; box-sizing: border-box;{% if img.active %}
                        outline: 7px solid #FFEB3B;
                    {% endif %}" data-active="{% if img.active %}1{% else %}0{% endif %}" data-id="{{ img.id }}">
                <img src="{{ asset('uploads/carrousel/' ~ img.picture.name) }}" width="100%" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;"/>
                
                    <span class="glyphicon glyphicon-ok {% if not img.active %}hidden{% endif %}" style="width: 40px; height: 40px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; color: #FFEB3B; font-size: 40px; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)"></span>
                    <a class="deleteImage" style="color: #FFEB3B; position: absolute; top: 5px; right: 5px; z-index: 3;" href="{{ path('decibels_carrousel_deleteImage', {'id': img.id }) }}"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        {% endfor %}
        {{ form(form) }}
    </div>
{% endblock %}

{% block javascript %}
<script>

    $(".deleteImage").click(function (e) {
        e.stopPropagation();
    })

    function searchId(nameKey, myArray){
        for (var i=0; i < myArray.length; i++) {
            if (myArray[i].id === nameKey) {
                return i;
            }
        }
        return false;
    }
    var height = $(".col-md-3").first().width() * 3/4;
    var modifiedImgArray = [];
    
    $(".col-md-3").each(function () {
        $(this).height(height + 'px');
    });
    
    $(".vignette").click(function() {
        var $vignette = $(this);
        var $input = $("#form_modifiedImgs");
        var state = $vignette.data("active");
        var idImg = $vignette.data("id");
        
        var index = searchId(idImg, modifiedImgArray);
        
        if(index === false) {
            modifiedImgArray.push({
                id: idImg,
                active: !state
            });
            index = 0;
        }
        else {
            modifiedImgArray[index] = {
                id: idImg,
                active: !(modifiedImgArray[index].active)
            }
        }
        $input.val(JSON.stringify(modifiedImgArray));
        
        if(modifiedImgArray[index].active) {
            $vignette.css("outline", "7px solid #FFEB3B");
            $vignette.children().last().removeClass("hidden");
        }
        else {
            $vignette.css("outline", "none");
            $vignette.children().last().addClass("hidden");
        }
    })
</script>
{% endblock %}