{% extends '::layout.html.twig' %}

{% block title %}Ajouter une réalisation - Décibels{% endblock %}

{% block body %}
	<h2 class="text-center">Ajouter une réalisation</h2>
	<div class="well" style="color: #000000; padding: 5px;">
		{{ form(form) }}
	</div>
{% endblock %}
