{% extends '::layout.html.twig' %}

{% block title %}Modifier la présentation - Décibels{% endblock %}

{% block body %}
	<h2 class="text-center">Modifier la présentation</h2>
	<div class="well" style="color: #000000; padding: 5px;">
		{{ form(form) }}
	</div>
{% endblock %}
