{% extends '::layout.html.twig' %}

{% block title %}Supprimer une réalisation - Décibels{% endblock %}

{% block body %}

	<p>Êtes-vous sur de vouloir supprimer la réalisation {{ realisation.nom }} ?</p>
	<form action="{{ path('decibels_realisation_delete', {'id' : réalisation.id }) }}" method="POST">
		<input type="submit" value="Supprimer" />
		{{ form_rest(form) }}
	</form>
	
{% endblock %}
